.container {
    display: grid;
    /* after initailising grid to the container it become grid and all its child become grid items */
    grid-template-columns: 300px 100px 100px;
    /* it makes the column of the width providen */
    /* grid-template-columns: width width width ; column number is not limited*/
    grid-template-columns: 300px 100px auto;
    /* the above property will provide the 300 width to 1st column and 100 to 2nd column and auto to the 3rd column */
    grid-template-columns: 1fr 4fr 1fr;
    /* here 1st part is given to first column 4th part is given to 2nd column and again 1st part is given to 3rd part as fr unit is used in other word the sheet(basically container is considered here) willl divided into 1:4:1 ratio and give the width accordingly  */
    grid-template-columns: repeat(3,auto);
    /* the above syntax will make a repeated column of the same width */
    /* grid-template-columns: repeat(no. of times to be repeated,width of each column); */
    grid-gap: 2rem;
    /* the above syntax will provide a gab between the grid items */
    
}

.items {
    /* height: 100px;
    width: 100px; */
    background: red;
    margin: 3px;
    padding: 5px;
    border: 2px solid black;
}